<form #searchForm="ngForm">
  <div class="row wrapper__panel">
    <div class="col-md-4 searchBar">
      <input *ngIf="!selectCat" class="form-control" name="donor-search" 
      placeholder="輸入捐贈者名稱" [(ngModel)]="searchWord" required>
      <!--選用分類時出現-->
      <select *ngIf="selectCat" class="form-control" name="donor-cat"
              [(ngModel)]="searchWord" required>
        <option *ngFor="let item of category" [value]="item">{{item}}</option>
      </select> 
    </div>
    
    <div class="col-md-4 searchBar">
      <select #catSelect name="category" class="form-control" [(ngModel)]="searchKey"
              (change)="searchChange(catSelect.value)" required>
        <option *ngFor="let item of categorySearch" [value]="item">{{item}}</option>
      </select>
    </div>
    <div class="col-md-2 searchBar text-center">
      <button type="submit" class="btn btn-primary" (click)="searchClick()"
              [disabled]="!searchForm.form.valid">送出</button>
    </div>
  </div>
</form>
  
<div class="row wrapper__panel">
  <table class="table table-bordered table-hover table-striped table-sm animated zoomIn table-rwd">
    <thead>
      <tr class="tr-only-hide">
        <th>
          <input type="checkbox" value=""> </th>
        <th>姓名</th>
        <th>單位分類</th>
        <th>統一編號</th>
        <th>電話</th>
        <th>手機</th>
        <th>E-mail</th>
        <th>地區</th>
        <th>選項</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let donor of dataList">
        <td>
          <input type="checkbox" (change)="checkChange(donor, $event.target.checked)"> 
        </td>
        <td data-th="姓名">{{donor.donor_name}}</td>
        <td data-th="單位分類">{{donor.category}}</td>
        <td data-th="統一編號">{{donor.ic}}</td>
        <td data-th="電話">{{donor.phone}}</td>
        <td data-th="手機">{{donor.contact_phone}}</td>
        <td data-th="E-mail">{{donor.email}}</td>
        <td data-th="地區">{{donor.area}}</td>
        <td class="center">
          <button class="btn btn-success" (click)="updateClick(donor)">更新</button>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="text-center">
    <button class="btn btn-warning" (click)="deleteClick()">刪除</button>
  </div>
</div>
<updateDonor *ngIf="updateBut" [inputItem]="selectedItem" (updated)="notifyUpdate($event)"></updateDonor>
