<div class="row wrapper__panel">
  <form #searchForm="ngForm">
    <div class="col-md-4 searchBar">
      <input name="user-name" type="text" class="form-control" placeholder="搜尋使用者" [(ngModel)]="searchContent" required>
    </div>
    <div class="col-md-4 searchBar">
      <select name="user-info" class="form-control" [(ngModel)]="searchKey" required>
        <option *ngFor="let item of categorySearch" [value]="item">{{item}}</option>
      </select>
    </div>
    <div class="col-md-4 searchBar text-center">
      <button type="submit" class="btn btn-primary col-sm-4" (click)="searchClick()" [disabled]="!searchForm.form.valid">送出</button>
      <button type="button" class="btn btn-info col-sm-offset-4" (click)="ShowList()">清單</button>
    </div>
  </form>
</div>


<div class="row wrapper__panel">
  <table class="table table-bordered table-hover table-striped animated fadeIn table-rwd">
    <thead>
      <tr class="tr-only-hide">
        <th>
          <input type="checkbox" (click)="CheckAllChange($event.target.checked)"> </th>
        <th>姓名</th>
        <th>手機</th>
        <th>地區</th>
        <th>帳號</th>
        <th>選項</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of dataList">
        <td>
          <input #userCheck type="checkbox" (change)="CheckChange(user, userCheck.checked)"> </td>
        <td data-th="姓名">{{user.user_name}}</td>
        <td data-th="手機">{{user.phone}}</td>
        <td data-th="地區">{{user.area}}</td>
        <td data-th="帳號">{{user.account}}</td>
        <td class="center">
          <a pageScroll href="#update-user"><button class="btn btn-success" (click)="editClick(user)">更改</button></a>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="text-center">
    <button class="btn btn-warning" (click)="deleteClick()">刪除</button>
  </div>
</div>

<update-user id="update-user" *ngIf="updateBut" [inputItem]="selectedItem" (updated)="notifyUpdate($event)"></update-user>
