<div class="cover">
  <div class="cover-image" style="background-image : url('http://pingendo.github.io/pingendo-bootstrap/assets/blurry/800x600/9.jpg')"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <img src="../../../assets/img/cover.png" class="img-responsive">
      </div>
      <div class="col-md-4">
        <h1 class="text-center animated infinite pulse">Food Hub</h1>
        <h3 class="text-center subtitle">for You, for Us,&nbsp;
          <br>for a Better World
          <br>
        </h3>
        <p></p>
        <!--TODO : Find out how to implment "form validation" -->

        <form #loginForm="ngForm" *ngIf="!isLogin" class="form-horizontal" role="form" (ngSubmit)="onSubmit(loginForm.value)">
          <div class="form-group">
            <div class="col-lg-2 col-md-3 text-center">
              <label for="account">帳號</label>
            </div>
            <div class="col-lg-9 col-md-9 col-md-offset-0 col-xs-offset-2 col-xs-8">
              <input type="text" name="account" id="account" [(ngModel)]="account" class="form-control" placeholder="請輸入帳號" required>
            </div>
          </div>
          <div class="form-group">
            <div class="col-lg-2 col-md-3 text-center">
              <label for="password">密碼</label>
            </div>
            <div class="col-lg-9 col-md-9 col-md-offset-0 col-xs-offset-2 col-xs-8">
              <input type="password" name="password" id="password" [(ngModel)]="password" class="form-control" placeholder="請輸入密碼" required>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-10 col-sm-offset-1 text-center">
              <button type="submit" class="btn btn-danger btn-lg btn-margin" data-toggle="modal">登入</button>
            </div>
          </div>
        </form>

        <div *ngIf="isLogin" class="text-center">
          <p class="animated fadeInDown">
            Hey {{userName}} <br> you can start working on Foodhub
          </p>
          <p class="animated fadeInDown">Or</p>
          <button class="btn btn-success animated fadeInDown" (click)="onLogout()">Log Out</button>
        </div>
      </div>
    </div>
  </div>
