<form #searchForm="ngForm">
  <div class="row wrapper__panel">
    <div class="col-sm-4 searchBar">
      <input class="form-control" placeholder="你要找什麼呢？" name="donee-search" [(ngModel)]="searchWord" *ngIf="!selectCat" required>

      <select *ngIf="selectCat" name="donee-cat" class="form-control" [(ngModel)]="searchWord" required>
        <option *ngFor="let item of category" [value]="item">{{item}}</option>
      </select>
    </div>
    <div class="col-sm-4 searchBar">
      <select #catSelect name="category" class="form-control" [(ngModel)]="searchKey" (change)="searchChange(catSelect.value)"
        required>
        <option *ngFor="let donee of categorySearch" [value]="donee">{{donee}}</option>
      </select>
    </div>
    <div class="col-sm-4 searchBar text-center">
      <button type="submit" class="btn btn-primary col-sm-4" (click)="searchClick()" [disabled]="!searchForm.form.valid">送出</button>
      <button type="button" class="btn btn-info col-sm-offset-4" (click)="ShowList()">清單</button>
    </div>
  </div>
</form>


<div class="row wrapper__panel">
  <table class="table table-bordered table-hover table-striped table-sm animated fadeIn table-rwd">
    <thead>
      <tr class="tr-only-hide">
        <th>
          <input type="checkbox" (click)="CheckAllChange($event.target.checked)"> </th>
        <th>單位名稱</th>
        <th>單位分類</th>
        <th>戶數</th>
        <th>人數</th>
        <th>電話</th>
        <th>地址</th>
        <th>聯絡人姓名</th>
        <th>聯絡人電話</th>
        <th>E-mail</th>
        <th>操作</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let donee of dataList">
        <td>
          <input type="checkbox" (change)="CheckChange(donee, $event.target.checked)">
        </td>
        <td data-th="單位名稱">{{donee.donee_name}}</td>
        <td data-th="單位分類">{{donee.category}}</td>
        <td data-th="戶數">{{donee.house_num}}</td>
        <td data-th="人數">{{donee.people_num}}</td>
        <td data-th="電話">{{donee.phone}}</td>
        <td data-th="地址">{{donee.address}}</td>
        <td data-th="聯絡人姓名">{{donee.contact}}</td>
        <td data-th="聯絡人電話">{{donee.contact_phone}}</td>
        <td data-th="E-mail">{{donee.email}}</td>
        <td class="center">
          <a pageScroll href="#update-donee"><button class="btn btn-success" (click)="updateClick(donee)">更新</button></a>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="text-center">
    <button class="btn btn-warning" [disabled]="dataList.length === 0" (click)="deleteClick()">刪除</button>
  </div>
</div>
<update-donee id="update-donee" *ngIf="updateBut" [inputItem]="selectedItem" (updated)="notifyUpdate($event)"></update-donee>
