<div class="section">
  <div class="container">

    <!-- Cover -->
    <div class="row">
      <div class="col-md-12 text-left">
        <div class="text-center well pageWell">
          <h1>
            <i class="fa fa-fw fa-spin lery fa-coffee"></i>捐贈物資管理</h1>
          <blockquote>
            <p>不能浪費食物</p>
            <footer>Someone famous</footer>
          </blockquote>
        </div>
      </div>
    </div>
    <!--Cover End-->

    <!-- Panel -->
    <div class="panel panel-default">
      <div class="panel-heading clearfix">
        <div class="btn-group pull-left">
          <a class="btn btn-default btn-md" (click)="butClick('donation')" [class.active]="selectedBut === 'donation'"> ## 捐贈紀錄 </a>
          <a class="btn btn-default btn-md" (click)="butClick('delivery')" [class.active]="selectedBut === 'delivery'"> ## 贈與紀錄 </a>
          <a class="btn btn-default btn-md" (click)="butClick('add')" [class.active]="selectedBut === 'add'"> ## 新增</a>

          <a class="btn btn-default btn-md" (click)="butClick('deliver')" [class.active]="selectedBut === 'deliver'"> ## 贈與 </a>
        </div>
      </div>
      <search-donation *ngIf="selectedBut === 'donation'"></search-donation>
      <search-delivery *ngIf="selectedBut === 'delivery'"></search-delivery>
      <add-donation *ngIf="selectedBut === 'add'" (updated)="notifyUpdate($event)"></add-donation>
      <deliver-donation *ngIf="selectedBut === 'deliver'"></deliver-donation>
    </div>
    <!--Panel End-->

  </div>
</div>
