<div class="text-center well" style="background-color: #FFFFFF">
  <h1 class="text-center wrapper__panel">更新捐贈者資訊</h1>
  <form #updateForm="ngForm" (ngSumbit)="onSumbit()">
    <div class="row form-group">
      <div class="col-md-3">
        <label class="control-label">名字</label>
        <input id="name" class="form-control" placeholder="姓名" name="donor_name" [(ngModel)]="donor.donor_name" (change)="nameChange = true">
      </div>
      <div class="col-md-2">
        <label class="control-label">分類</label>
        <select name="category" class="form-control" name="category" [(ngModel)]="donor.category" (change)="catChange($event.target.value)">
          <option *ngFor="let item of category" [value]="item">{{item}}</option>
        </select>
      </div>
      <div class="col-md-3">
        <label class="control-label">統一編號</label>
        <input class="form-control" placeholder="0912384758" name="ic" [(ngModel)]="donor.ic"> </div>
      <div class="col-md-4">
        <label class="control-label">E-mail</label>
        <input class="form-control" placeholder="FoodHub@gmail.com" name="email" [(ngModel)]="donor.email">
      </div>
    </div>
    <div class="row">
      <div class="col-md-2">
        <label class="control-label">電話</label>
        <input class="form-control" placeholder="ex: 06-2757575" name="phone" [(ngModel)]="donor.phone"> </div>
      <div class="col-md-2">
        <label class="control-label">地區</label>
        <select name="user-area" class="form-control" name="area" [(ngModel)]="donor.area">
            <option *ngFor="let item of area" [value]="item">{{item}}</option>
          </select>
      </div>
      <div class="col-md-8">
        <label class="control-label">地址</label>
        <input class="form-control" placeholder="輸入單位或個人地址" name="address" [(ngModel)]="donor.address">
      </div>
    </div>
    <div class="row">

      <div class="group" *ngIf="isGroup === true">
        <div class="col-md-4">
          <label class="control-label">聯絡人</label>
          <input class="form-control" placeholder="機關團體聯絡人" name="contact" [(ngModel)]="donor.contact">
        </div>
        <div class="col-md-4">
          <label class="control-label">聯絡電話</label>
          <input class="form-control" placeholder="聯絡人之聯絡電話" name="contact_name" [(ngModel)]="donor.contact_phone">
        </div>
      </div>
    </div>
    <div class="row wrapper__panel">
      <button class="btn btn-success" (click)="clearClick()">取消</button>
      <button class="btn btn-warning" (click)="onSumbit()">送出</button>
    </div>
  </form>
</div>
