<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-left">
        <div class="text-center well pageWell">
          <h1 class="text-primary">
            <i class="fa fa-fw fa-spin lery fa-bolt"></i>聯絡人</h1>
          <blockquote class="lead">
            <p>Members of FoodHub</p>
            <footer></footer>
          </blockquote>
        </div>
      </div>
    </div>
  </div>
</div>

<!--Foodhub member-->
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <hr>
    </div>
  </div>
</div>

<!--Foodhub member end-->



<!--Web design member-->

<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="text-center team-title bg-primary">Web Application</h1>
        <p class="lead text-center team-text">Pos System Team</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <img src="../../../../assets/img/erica.jpg" class="center-block img-circle img-responsive img-size">
        <h3 class="text-center">Erica</h3>
        <p class="text-center">志工</p>
        <div class="col-md-12 text-center">
          <a class="no-link" href="#" target="_blank">
            <i class="fa fa-3x fa-facebook-square fa-fw"></i>
          </a>
          <a class="no-link" href="#" target="_blank">
            <i class="fa fa-3x fa-fw fa-github-square "></i>
          </a>
          <a class="no-link" href="#" target="_blank">
            <i class="fa fa-3x fa-envelope-square fa-fw hub-square "></i>
          </a>
        </div>
      </div>
      <div class="col-md-4">
        <img src="../../../../assets/img/anche.jpg" class="center-block img-circle img-responsive img-size">
        <h3 class="text-center">AnChe</h3>
        <p class="text-center">後端工程師</p>
        <div class="col-md-12 text-center">
          <a href="https://www.facebook.com/Wastelandshadow" target="_blank">
            <i class="fa fa-3x fa-facebook-square fa-fw text-primary"></i>
          </a>
          <a href="https://github.com/AnCheTeng" target="_blank">
            <i class="fa fa-3x fa-fw fa-github-square text-danger"></i>
          </a>
          <a class="no-link" href="#" target="_blank">
            <i class="fa fa-3x fa-envelope-square fa-fw hub-square"></i>
          </a>
        </div>
      </div>
      <div class="col-md-4">
        <img src="../../../../assets/img/zizi.jpg" class="center-block img-circle img-responsive img-size">
        <h3 class="text-center">Zizi</h3>
        <p class="text-center">前端工程師</p>
        <div class="col-md-12 text-center">
          <a href="https://www.facebook.com/zizi.zheng.1" target="_blank">
            <i class="fa fa-3x fa-facebook-square fa-fw text-primary"></i>
          </a>
          <a href="https://github.com/zizizheng" target="_blank">
            <i class="fa fa-3x fa-fw fa-github-square text-danger"></i>
          </a>
          <a href="https://zizizheng.github.io/personal-web/#/" target="_blank">
            <i class="fa fa-3x fa-envelope-square fa-fw hub-square text-success"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<!--Web design member end-->
